<!-- <div class="container">
    <div class="row">     
        <div class="col-lg-3">
            <app-category></app-category>
        </div>
        <!-- /.col-lg-3 -->
<!-- <div class="col-lg-9"> -->
  <app-header></app-header>
<app-slide></app-slide>
<app-footer></app-footer>
<!-- <div> <div class="container"> -->
<!-- </div></div> -->
<!-- <app-product-list></app-product-list> -->
<!-- /.row -->
<!-- </div> -->
<!-- /.col-lg-9 -->
<!-- </div> -->
<!-- /.row -->
<!-- </div> -->
<!-- /.container -->
