
 <app-slide></app-slide>
<section>
	<div class="container" style="margin-top: 30px;">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<app-category></app-category>
					<!--/category-productsr-->
				</div>
			</div>

			<div class="col-sm-9 padding-right">
				<div class="features_items">
					<!--features_items-->
					<h2 class="title text-center">Sản phẩm mới</h2>
					<app-product-list></app-product-list>
				</div>
				<!--features_items-->
			</div>
		</div>
	</div>
</section>


